asgiref==3.10.0
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
deta==1.2.0
Django==5.2.7
django-filter==25.2
django-rest-framework==0.1.0
djangorestframework==3.16.1
gunicorn==23.0.0
h11==0.16.0
idna==3.11
packaging==25.0
requests==2.32.5
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.37.0
